.wy-nav-content {
max-width: 1000px !important;
}

.red {
    color:red;
}

.green {
    color:green;
}

.nboutput .output {
    max-height: 300px;
    overflow-y: auto;
}

.jp-RenderedText {
    margin-left: 0;
    overflow: auto;
    max-height: 600px;
    max-width: 700px;
}